body {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.header-menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.header-menu__item {
    margin-left: 30px;
}

.header-menu__item:first-child {
    margin-left: 0;
}

.header-menu__item > a {
    font-size: 18px;
    color: #433840;
    text-decoration: none;
}

.header-menu__item > a:hover,
.header-menu__item > a:active {
    color: #F7A1A8;
}

.about-us {
    background-image: url("./img/Heading.png");
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.smoothie {
    margin-top: 67px;
    margin-bottom: 60px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.about-us > h2{ 
    font-size: 30px;
    font-family:'Waiting for the Sunrise', cursive;
    margin-top: 0;
}

h3{
    font-size: 30px;
    color: #433840;
    margin-bottom: 12px;
}

h1 > .team {
    color: #433840;
    margin-top: 57px;
    margin-bottom: 0;

}

p {
    font-size: 15px;
    color: #9A9A9A;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics {
    display: flex;
    flex-direction: column;
    background-color: #FEA3AC;
}

.statistics-top {
    transform: rotate(180deg);
}

.statistics-content {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity {
    color: #DFEEB6;
    font-size: 60px;
    font-family: 'Waiting for the Sunrise', cursive;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    color: #F7A1A8;
    font-family:'Waiting for the Sunrise', cursive;
    font-size: 30px;
    margin-top: 0;
}

.members {
    display: grid;
    grid-template-columns: repeat(2, 558px);
    grid-template-rows: repeat(2, 380px) ;
    grid-gap: 25px;
}

.member {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0; 

}

.member > img {
    position: relative;
    z-index: 2;
}

.member__color {
    position: absolute;
    width: 390px;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
}

.member__color_right {
    right: 0;
}

.member__color_left {
    left: 0;
}

.member__color_green {
    background-color: #DFEEB6;
}

.member__color_blue {
    background-color: #C9E3F4;
}

.member_reversed {
    flex-direction: row-reverse;

}

.member_reversed > .member-description{
    margin-right: 15px;
    margin-left: 0;
}

.member_reversed h1,
.member_reversed h2 {
    text-align: right;
} 

.circle {
    border-radius: 50%;
}

.member-description {
    margin-left: 15px;
    position: relative;
    z-index: 2;                                 
}

.member-description > h1 {
    font-size: 30px;
    color: #ffffff;
}

.member-description > h2 {
    font-size: 20px;

}

.member-description > p {
    font-size: 15px;
}

.footer {
    margin-top: 130px ;

}

.footer h1 {
    font-size: 30px;
}

.footer-first {
    background-image:url("./img/footer.png"); 
    width: 100%;
    min-height: 440px;
    height: 100%;
    font-size: 20px;
    color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.working-hours {
    color: #DFEEB6;;
}

.footer-second {
    display: flex;
    align-items: center;
    background-color: #433840;
    width: 100%;
    min-height: 60px;
    font-size: 15px;
    color: #ffffff;
}

.food {
    display: grid;
    grid-template-columns: repeat(3, 97px);
    grid-template-rows: repeat(2, 97px);
    grid-gap: 26px;
}

.footer-element  h1{
    margin-bottom: 25px;
}

.copyrights {
    display: flex;
    justify-content: space-between;
}
