body {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
}
.about {
    color: #FEA3AC;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #433840;
}

.header-element  li {
    display: inline-block;
    margin-left: 30px;
    margin-top: 42px;

}

.header-img  {
    margin-top: 16px;
}

.about-us {
    background-image: url("./img/Heading.png");
    height: 400px;
    width: 1820px;
}

.smoothie {
    margin-top: 67px;
    margin-bottom: 60px;
}

h2 {
    font-size: 30px;
    color: #433840;
    margin-bottom: 12px;
}

p {
    font-size: 15px;
    color: #9A9A9A;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics {
    background-image: url("./img/Rectangle\ 8.png");
    height: 600px;
    width: 1820px;
}

.icon {
    color: #FFFFFF;
    font-size: 20px;
}

.quantity {
    color: #DFEEB6;
    font-size: 60px;
    font-family: 'Waiting for the Sunrise', cursive;;
}
